In [1]:
#Import Dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
wine_df = pd.read_csv("../Resources/winequality.csv")

wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,good,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,red

In [3]:
#get out columns we want in the order we want

wine_df = wine_df[["color", "quality", "volatile acidity", "density", "alcohol", "pH", "residual sugar", 
                   "sulphates", "chlorides"]]

wine_df

,color,quality,volatile acidity,density,alcohol,pH,residual sugar,sulphates,chlorides
0,red,5,0.70,0.99780,9.4,3.51,1.9,0.56,0.076
1,red,5,0.88,0.99680,9.8,3.20,2.6,0.68,0.098
2,red,5,0.76,0.99700,9.8,3.26,2.3,0.65,0.092
3,red,6,0.28,0.99800,9.8,3.16,1.9,0.58,0.075
4,red,5,0.70,0.99780,9.4,3.51,1.9,0.56,0.076
...,...,...,...,...,...,...,...,...,...
6492,white,6,0.21,0.99114,11.2,3.27,1.6,0.50,0.039
6493,white,5,0.32,0.99490,9.6,3.15,8.0,0.46,0.047
6494,white,6,0.24,0.99254,9.4,2.99,1.2,0.46,0.041
6495,white,7,0.29,0.98869,12.8,3.34,1.1,0.38,0.022
6496,white,6,0.21,0.98941,11.8,3.26,0.8,0.32,0.020

In [4]:
#Rename columns

wine_df = wine_df.rename(columns={"color":"Color", "quality":"Quality", "volatile acidity":"Volatile Acidity", 
                                  "density":"Density", "alcohol":"Alcohol", "pH":"pH", "residual sugar":"Residual Sugar",
                                  "sulphates":"Sulphates", "chlorides":"Chlorides"})

wine_df

,Color,Quality,Volatile Acidity,Density,Alcohol,pH,Residual Sugar,Sulphates,Chlorides
0,red,5,0.70,0.99780,9.4,3.51,1.9,0.56,0.076
1,red,5,0.88,0.99680,9.8,3.20,2.6,0.68,0.098
2,red,5,0.76,0.99700,9.8,3.26,2.3,0.65,0.092
3,red,6,0.28,0.99800,9.8,3.16,1.9,0.58,0.075
4,red,5,0.70,0.99780,9.4,3.51,1.9,0.56,0.076
...,...,...,...,...,...,...,...,...,...
6492,white,6,0.21,0.99114,11.2,3.27,1.6,0.50,0.039
6493,white,5,0.32,0.99490,9.6,3.15,8.0,0.46,0.047
6494,white,6,0.24,0.99254,9.4,2.99,1.2,0.46,0.041
6495,white,7,0.29,0.98869,12.8,3.34,1.1,0.38,0.022
6496,white,6,0.21,0.98941,11.8,3.26,0.8,0.32,0.020

In [9]:
#Sort Descending by Quality

wine_df = wine_df.sort_values(["Quality","Alcohol"], ascending=False)

wine_df.head(20)

,Color,Quality,Volatile Acidity,Density,Alcohol,pH,Residual Sugar,Sulphates,Chlorides
3204,white,9,0.26,0.99030,12.9,3.37,2.2,0.42,0.032
2475,white,9,0.36,0.98980,12.7,3.28,4.2,0.36,0.018
2426,white,9,0.24,0.99055,12.5,3.28,2.0,0.48,0.031
2419,white,9,0.36,0.98965,12.4,3.41,1.6,0.61,0.021
2373,white,9,0.27,0.99700,10.4,3.20,10.6,0.46,0.035
4544,white,8,0.33,0.98713,14.0,3.33,1.2,0.59,0.016
1269,red,8,0.49,0.99080,14.0,3.50,1.8,0.82,0.044
588,red,8,0.42,0.99170,14.0,3.72,2.0,0.74,0.060
5353,white,8,0.46,0.98953,13.4,3.39,2.1,0.77,0.026
5794,white,8,0.45,0.98862,13.4,2.94,2.7,0.38,0.040
455,red,8,0.62,0.99880,13.4,3.22,5.2,0.69,0.086
5363,white,8,0.46,0.98953,13.4,3.39,2.1,0.77,0.026
5075,white,8,0.37,0.98934,13.4,3.04,6.1,0.26,0.032
5081,white,8,0.45,0.98944,13.4,3.22,6.4,0.27,0.033
5083,white,8,0.37,0.98934,13.4,3.04,6.1,0.26,0.032
5258,white,8,0.53,0.98856,13.2,3.20,2.7,0.53,0.036
5264,white,8,0.53,0.98856,13.2,3.20,2.7,0.53,0.036
5067,white,8,0.16,0.98884,13.2,3.23,1.1,0.34,0.031
5766,white,8,0.17,0.98886,13.1,3.31,1.0,0.40,0.040
1120,red,8,0.54,0.99235,13.1,3.20,2.5,0.72,0.076

In [10]:
#Round to 2 decimal places
wine_df = wine_df.round(2)

wine_df

,Color,Quality,Volatile Acidity,Density,Alcohol,pH,Residual Sugar,Sulphates,Chlorides
3204,white,9,0.26,0.99,12.9,3.37,2.2,0.42,0.03
2475,white,9,0.36,0.99,12.7,3.28,4.2,0.36,0.02
2426,white,9,0.24,0.99,12.5,3.28,2.0,0.48,0.03
2419,white,9,0.36,0.99,12.4,3.41,1.6,0.61,0.02
2373,white,9,0.27,1.00,10.4,3.20,10.6,0.46,0.04
...,...,...,...,...,...,...,...,...,...
3083,white,3,0.32,1.00,9.1,3.14,4.6,0.50,0.05
459,red,3,0.58,1.00,9.0,3.25,2.2,0.57,0.07
1893,white,3,0.59,1.00,8.5,3.23,1.6,0.38,0.07
517,red,3,0.61,1.00,8.4,3.16,2.1,0.63,0.20
4864,white,3,0.22,1.00,8.0,3.42,5.1,0.44,0.04

In [11]:
#Export to csv without the pandas index, but with the header

wine_df.to_csv("../Resources/winequality1.csv", index=False, header=True)